# example: "development" ("development" | "test" | "production")
NODE_ENV=

# example: "jolifox-back-end"
API_NAME=

# example: "3333"
API_PORT=

# example: "https://my-client-app.com" (url - only constraint | regex - specific constraint | "*" - not constraint)
API_ACCESS_PERMISSION_CLIENT_SIDE=

# example: "ntn_O35402416574dg7rojwpyRwVPcKnWaiyIfqPeySBshC7pS"
NOTION_ACCESS_TOKEN=

# example: "1290d303ccf9808d8697f7a3dc42ef3f"
NOTION_MAIN_DATABASE_ID=